.green {
    background: #c7f0c7;
    padding: 15px;
    border: 5px solid #238000;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.green .lightblue {
    background: #add8e6;
    border: 5px solid #2000ff;
    height: 50px;
    padding: 5px;
    margin: 10px;
    flex: 1;
    gap: 10px;
    display: flex;
}

.green .brown {
    /* background: #fabbbb; */
    /* border: 5px solid #a52b2b; */
    flex: 1;
    height: 100px;
    margin: 10px;
    gap: 10px;
    display: flex;
}

.brown .shown {
    background: #fabbbb;
    border:  5px solid #a52b2a;
    flex: 1;
}

.brown .hidden {
    /* background: #fabbbb; */
    /* border:  5px solid #a52b2a; */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.hidden .up-down {
    background: #fabbbb;
    border:  5px solid #a52b2a;
    flex: 1;
}

.lightblue .orange {
    background: #fcdab9;
    border: 5px solid #f78072;
    flex: 1;
    display: flex;
    padding: 5px;
}

.orange .red {
    background: #fac0cb;
    border: 5px solid #f40105;
    flex: 1;
}


.lightblue .purple {
    background: #e2deff;
    border: 5px solid #6a5acd;
    flex: 2;
}


.lightblue .small {
    background: #fcdab9;
    border: 5px solid #f78072;
    height: auto;
    flex: 1;
}